// 主色调
$main-color: #2d8cf0;
// 主背景色调
$main-bg-color: #D3DCE6;
// border颜色
$border-color: #dddee1;
// 头部文字颜色
$header-font-color: #fff;
// 头部文字颜色
$second-font-color: #303133;
// 主要文字字体
$main-font-color: #303133;
// 详情内容title 背景颜色
$list-title-bg-color: #f8f8f9;
// table-表头 背景颜色
$table-bg-color: #fafafa;
